@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body,
  #__next
  {
    @apply h-full;
  }
}

.scroll-horizontal {
  & > div {
    padding-left: 50vw;
  }
}

img {
  pointer-events: none;
}

.container {
  @media (max-width: 360px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}